<!DOCTYPE html>
<html class="scroll-smooth" lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Kuis Diabetes Melitus - Kelompok 2</title>
      <link rel="stylesheet" href="../assets/css/app.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link
         href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
         rel="stylesheet">
   </head>

   <body class="relative w-full min-h-screen max-w-full">
      <div class="flex justify-center min-w-screen min-h-screen">
         <div class="w-full max-w-full">
            <header
               class="w-full flex justify-center items-center border-b border-border-color px-7 py-2 fixed z-10 bg-bg-white max-w-full ">
               <div class="w-full flex justify-between items-center max-w-[420px]">
                  <div class="w-full h-full flex-1 max-w-14 max-h-14 mr-5 flex-shrink-0">
                     <a href="#">
                        <img src="../assets/img/logo_poltek.png" alt="">
                     </a>
                  </div>
                  <nav class="w-full flex-1 flex justify-end items-center gap-5">
                     <p
                        class="text-primary-color capitalize text-lg font-bold">hello learners 👋</a>
                  </nav>
               </div>
            </header>
            <main class="w-full pt-20 py-4 px-7 flex justify-center items-center max-w-full">
               <div class="flex flex-col py-3 justify-center items-center gap-1 w-full max-w-[420px]">
                  <div class="flex justify-end flex-1 gap-4 w-30">
                     <img src="../assets/img/hero-img.png" alt="">
                  </div>
                  <div class="flex flex-col flex-1 gap-2">
                     <h1 class="text-5xl font-bold capitalize">
                        <span class="text-secondary-color">kuis</span>
                        <span class="text-primary-color leading-tight">diabetes mellitus</span>
                     </h1>
                     <p class="text-text-color text-lg">Yuu, kerjain kuis diabetes melitus ini👌, dijamin bisa membuat
                        kamu lebih paham lagi terkait
                        materi ini😉</p>
                     <button id="play-button"
                        class="flex flex-shrink-0 max-w-full justify-center item-center gap-3 w-full mt-5 py-4 bg-primary-color text-text-white-color rounded-lg transition-all ease-in-out duration-200 shadow-[inset_0_-6px_3px_rgba(31,54,75,0.6)] hover:shadow-none hover:bg-opacity-90"
                        type="button">
                        <div class="w-7">
                           <img src="../assets/img/play.png" alt="">
                        </div>
                        <span class="capitalize text-xl font-bold">play now</span>
                     </button>
                  </div>
               </div>
            </main>
            <footer class="flex justify-center px-7 py-4 pb-12 bg-white">
               <p class="font-bold text-text-color text-center">
                  Designed with <span class="text-wrong-text-color">&#x2764;</span> By <span
                     class="text-secondary-color">
                     Kelompok 2</span>
               </p>
            </footer>
            <div
               class="invisible flex justify-center items-center fixed inset-0 z-30 transition-opacity duration-500 opacity-0"
               id="popup-wrapper">
               <div
                  class="flex flex-col justify-between gap-5 fixed z-40 w-full max-w-sm min-h-fit py-6 px-7 bg-bg-white rounded-lg"
                  id="popup-box">
                  <div class="flex self-end mb-2 cursor-pointer" id="close-button">
                     <i class=""><img src="../assets/img/close-x.png" alt=""></i>
                  </div>
                  <div class="flex flex-col gap-2">
                     <label class="capitalize text-text-color text-lg" for="username">masukkan nama anda</label>
                     <input
                        class="border border-secondary-color rounded-lg text-text-color text-lg placeholder-text-colo placeholder:opacity-60 py-3 px-4 transition ease-in-out duration-200 focus:bg-secondary-color focus:bg-opacity-20 autofill:text-lg"
                        type="text" id="username" name="username" placeholder="john doe" required>
                  </div>
                  <div class="flex self-end">
                     <button id="next-button"
                        class="bg-primary-color text-text-white-color text-lg font-bold capitalize rounded-lg px-5 py-2 transition-all ease-in-out duration-200 shadow-[inset_0_-6px_3px_rgba(31,54,75,0.6)] hover:shadow-none hover:bg-opacity-90"
                        type="button">lanjutkan</button>
                  </div>
               </div>
               <div class="fixed inset-0 bg-text-color opacity-0 transition-opacity ease-in-out duration-500"
                  id="overlay">
               </div>
            </div>
         </div>
      </div>
      <script src="../assets/js/index.js"></script>
   </body>

</html>